!!! 5
head
	title #{title}
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans', type='text/css')
	link(rel='stylesheet', href='/main.css', type='text/css')
body
	div.topbar
		ul
			li
				a(href='http://github.com/guyht/glog') Glog
			li
				a(href='http://twitter.com/mrwooster') @mrwooster
	div.blog_title
		<a href='/'>!{title}</a>
	- each article in articles
		div.article
			div.header
				div.title
					<a href='/!{article.url}'>!{article.title}</a>
				div.date !{article.date_str}
			div.body !{article.body}

			- if (typeof single !== 'undefined' && single && disqus_id !== -1)
				script(type='text/javascript)
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = '!{disqus_id}'; // required: replace example with your forum shortname

					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();

				div#disqus_thread

	// Please do not remove
	div.footer
		a(href='http://github.com/guyht/glog') Powered by Glog
